<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.simonmacdonald.prefs"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.9.0" />
  </engines>
  <name>Preferences Access Plugin</name>
          <js-module src="src/ios/www/applicationPreferences.js" name="appref">
	      <clobbers target="appref" />
          </js-module>

  <platform name="android">
	  <source-file src="src/android/com/simonmacdonald/prefs/AppPreferences.java" target-dir="src/com/simonmacdonald/prefs/" />

	  <config-file target="res/xml/config.xml" parent="/widget">
	      <feature name="applicationPreferences">
	          <param name="android-package" value="com.simonmacdonald.prefs.AppPreferences" />
	      </feature>
          </config-file>
  </platform>
    <platform name="ios">
		
        <config-file target="config.xml" parent="/*/plugins">
		<plugin name="applicationPreferences" value="applicationPreferences" />
        </config-file>

        <config-file target="config.xml" parent="/widget">
		<feature name="applicationPreferences">
        		<param name="ios-package" value="applicationPreferences" />
    		</feature>
        </config-file>

        <header-file src="src/ios/applicationPreferences.h" />

        <source-file src="src/ios/applicationPreferences.m"  />

    </platform>

</plugin>
